.pimidoLand {
    &.header {
        .navbar {
            padding-top: 18px;
            padding-bottom: 18px;

            @include br-up(md) {
                padding-top: 24px;
                padding-bottom: 24px;
            }

            @include br-up(lg) {
                padding-top: 40px;
                padding-bottom: 40px;
            }

            .navbar-brand {
                .logo {
                    width: 64px;

                    @include br-up(md) {
                        width: 80px;
                    }

                    @include br-up(xl) {
                        width: 108px;
                    }
                }
            }

            .navbar-toggler {
                .navbar-toggler-icon {
                    width: 24px;
                }
            }

            .navbar-nav {
                margin-top: 24px;

                @include br-up(md) {
                    margin-top: 32px;
                }

                @include br-up(lg) {
                    margin-top: 0px;
                }

                .nav-item {
                    margin-bottom: 24px;

                    @include br-up(lg) {
                        margin-bottom: 0px;
                        margin-left: 16px;
                    }

                    @include br-up(xl) {
                        margin-left: 40px;
                    }

                    .nav-link {
                        padding: 0;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 14px;
                        color: #000000;

                        &:hover,
                        &.active {
                            color: #411D71;
                        }
                    }

                    &.nav-btn {
                        .nav-link {
                            padding: 12px 16px;
                            color: #411D71;
                            border: 1px solid #411D71;
                            border-radius: 6px;
                            display: inline;

                            &:hover {
                                background-color: #411D71;
                                color: #fff;
                            }
                        }
                    }

                }
            }
        }
    }
}