.pimidoLand {
    &.heros {
        padding-top: 20px;
        padding-bottom: 24px;

        @include br-up(md) {
            padding-top: 48px;
            padding-bottom: 32px;
        }

        @include br-up(lg) {
            padding-top: 66px;
            padding-bottom: 40px;
        }

        .sub-title {
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: #D33A6D;
            margin-bottom: 16px;

            @include br-up(md) {
                font-size: 16px;
                line-height: 32px;
                margin-bottom: 20px;
            }

            @include br-up(lg) {
                margin-bottom: 24px;
            }
        }

        .title {
            font-weight: 800;
            font-size: 36px;
            line-height: 44px;
            letter-spacing: -2px;
            color: #1E1E1E;
            margin-bottom: 20px;

            @include br-up(sm) {
                font-size: 40px;
                line-height: 48px;
                margin-bottom: 24px;
            }

            @include br-up(md) {
                font-size: 56px;
                line-height: 64px;
                margin-bottom: 20px;
            }

            @include br-up(lg) {
                font-size: 72px;
                line-height: 80px;
                max-width: 441px;
            }
        }

        .title-box {
            position: relative;

            .start {
                position: absolute;
                right: 0;
                top: 0;
                z-index: -1;
                transform: translateX(20%) translateY(-40%);
                width: 60px;

                @include br-up(sm) {
                    width: 80px;
                }

                @include br-up(md) {
                    width: 100px;
                }

                @include br-up(lg) {
                    width: 148px;
                    transform: translateX(-20%) translateY(-20%);
                }

                @include br-up(xl) {
                    transform: translateX(-82%) translateY(-20%);
                }
            }
        }

        .paragraph {
            color: rgba(65, 65, 65, 0.64);
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 20px;

            @include br-up(md) {
                font-size: 16px;
                line-height: 32px;
                margin-bottom: 34px;
            }
        }

        .hero-btn {
            font-weight: 700;
            font-size: 14px;
            line-height: 14px;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 16px 32px;
            background: #D33A6D;
            border-radius: 6px;
        }

        .hero-img {
            width: 100%;
            margin-bottom: 32px;

            @include br-up(lg) {
                margin-bottom: 0;
            }
        }
    }

    &.facilities {
        background: rgba(65, 29, 113, 0.06);
        padding-top: 32px;
        padding-bottom: 32px;

        @include br-up(sm) {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        @include br-up(md) {
            padding-top: 56px;
            padding-bottom: 56px;
        }

        @include br-up(lg) {
            padding-top: 80px;
            padding-bottom: 80px;
        }

        @include br-up(xl) {
            padding-top: 92px;
            padding-bottom: 96px;
        }

        .title-box {
            max-width: 876px;

            .sub-title {
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 3px;
                text-transform: uppercase;
                color: #D33A6D;
                margin-bottom: 16px;

                @include br-up(md) {
                    font-size: 16px;
                    line-height: 32px;
                    margin-bottom: 20px;
                }
            }

            .title {
                font-weight: 800;
                font-size: 28px;
                line-height: 36px;
                color: #272727;
                margin-bottom: 20px;

                @include br-up(md) {
                    font-size: 32px;
                    line-height: 40px;
                    margin-bottom: 24px;
                }

                @include br-up(lg) {
                    font-size: 40px;
                    margin-bottom: 28px;
                    line-height: 48px;
                }
            }

            .paragraph {
                font-size: 14px;
                line-height: 24px;
                color: rgba(32, 32, 32, 0.64);
                margin-bottom: 36px;

                @include br-up(sm) {
                    margin-bottom: 48px;
                }

                @include br-up(md) {
                    font-size: 16px;
                    line-height: 32px;
                    margin-bottom: 60px;
                }

                @include br-up(lg) {
                    margin-bottom: 80px;
                }
            }
        }

        .facilities-item {
            margin-bottom: 24px;

            @include br-up(sm) {
                margin-bottom: 28px;
            }

            @include br-up(md) {
                margin-bottom: 32px;
            }

            @include br-up(md) {
                margin-bottom: 40px;
            }

            .f-icon-box {
                width: 56px;
                height: 56px;
                background: #D33A6D;
                border-radius: 5.25px;
                display: flex;
                align-items: center;
                justify-content: center;

                img.f-icon {
                    width: 24px;
                }

                svg.f-icon {
                    width: 26px;
                }
            }

            .f-title {
                font-weight: 700;
                font-size: 18px;
                line-height: 28px;
                color: #2A3342;
                margin-top: 8px;
                margin-bottom: 12px;

                @include br-up(sm) {
                    font-size: 20px;
                    line-height: 28px;
                    margin-bottom: 14px;
                }

                @include br-up(lg) {
                    font-size: 24px;
                    line-height: 32px;
                    margin-top: 4px;
                }
            }

            .f-paragraph {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                font-family: 'Poppins', sans-serif;
                color: #556987;
                max-width: 375px;
            }
        }

        .facilities-img {
            width: 100%;
        }

    }

    &.blogPost {
        padding-top: 40px;

        @include br-up(sm) {
            padding-top: 56px;
        }

        @include br-up(md) {
            padding-top: 64px;
        }

        @include br-up(lg) {
            padding-top: 80px;
        }

        .sub-title {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #222831;
            margin-bottom: 16px;

            @include br-up(md) {
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 22px;
            }
        }

        .title {
            font-weight: 700;
            font-size: 28px;
            line-height: 32px;
            letter-spacing: -0.03em;
            color: #373333;

            @include br-up(md) {
                font-size: 36px;
                line-height: 40px;
            }

            @include br-up(md) {
                font-size: 44px;
                line-height: 44px;
            }

            @include br-up(lg) {
                font-size: 50px;
                line-height: 50px;
            }
        }

        .dropdown {
            .btn {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #411D71;
                padding: 13px 24px;
                border: 1px solid #411D71;
                box-sizing: border-box;
                border-radius: 6px;

                @include br-up(md) {
                    padding: 16px 24px;
                    font-size: 18px;
                    line-height: 30px;
                }

            }
        }


        .posts {
            margin-top: 40px;

            @include br-up(md) {
                margin-top: 48px;
            }

            @include br-up(md) {
                margin-top: 60px;
            }

            @include br-up(xl) {
                margin-left: -22px;
                margin-right: -22px;
            }

            .post {
                margin-bottom: 36px;

                @include br-up(sm) {
                    margin-bottom: 48px;
                }

                @include br-up(md) {
                    margin-bottom: 60px;
                }

                @include br-up(xl) {
                    padding-left: 22px;
                    padding-right: 22px;
                    margin-bottom: 85px;
                }
            }

            .blog-img {
                width: 100%;
                aspect-ratio: 16/11;
                object-fit: cover;
                border-radius: 10px;
                margin-bottom: 10px;
            }

            .b-cat {
                font-size: 14px;
                line-height: 30px;
                color: #411D71;
                margin-bottom: 0px;
            }

            .b-page {
                font-size: 14px;
                line-height: 30px;
                color: #76767B;
                margin-bottom: 0px;
            }

            .b-title {
                margin-top: 10px;
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
                color: #000000;
                margin-bottom: 8px;

                @include br-up(md) {
                    margin-top: 14px;
                    font-size: 20px;
                    line-height: 30px;
                }
            }

            .b-paragraph {
                font-size: 14px;
                line-height: 30px;
                color: #616161;
                margin-bottom: 16px;

                @include br-up(md) {
                    font-size: 16px;
                    margin-bottom: 20px;
                }
            }

            .b-price {
                font-weight: 700;
                font-size: 16px;
                line-height: 23px;
                color: #3734A9;
                margin-bottom: 10px;

                @include br-up(md) {
                    font-size: 18px;
                    margin-bottom: 12px;
                }

                @include br-up(lg) {
                    font-size: 22px;
                    margin-bottom: 16px;
                }
            }

            .b-rate {
                font-family: 'Gilroy-Medium', sans-serif;
                font-size: 16px;
                line-height: 24px;
                color: #898989;

                @include br-up(md) {
                    font-size: 18px;
                }

                @include br-up(lg) {
                    font-size: 20px;
                }
            }

        }

        .btn-view {
            font-weight: 700;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 18px 44px 16px 44px;
            background: #D33A6D;
            border-radius: 6px;
        }

    }

    &.rankEdit {
        padding-top: 60px;
        padding-bottom: 40px;

        @include br-up(sm) {
            padding-top: 80px;
            padding-bottom: 56px;
        }

        @include br-up(md) {
            padding-top: 96px;
            padding-bottom: 70px;
        }

        @include br-up(lg) {
            padding-top: 130px;
            padding-bottom: 80px;
        }

        .sub-title {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
            color: #222831;
            margin-bottom: 16px;

            @include br-up(md) {
                font-size: 18px;
                line-height: 28px;
                margin-bottom: 18px;
            }

            @include br-up(lg) {
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 22px;
            }
        }

        .title {
            font-weight: 800;
            font-size: 24px;
            line-height: 32px;
            color: #272727;
            margin-bottom: 20px;

            @include br-up(md) {
                font-size: 32px;
                line-height: 40px;
                margin-bottom: 24px;
            }

            @include br-up(lg) {
                font-size: 40px;
                line-height: 48px;
                margin-bottom: 28px;
            }
        }

        .paragraph {
            font-size: 14px;
            line-height: 24px;
            color: rgba(32, 32, 32, 0.64);
            margin-bottom: 32px;

            @include br-up(md) {
                max-width: 875px;
                font-size: 16px;
                line-height: 32px;
                margin-bottom: 50px;
            }

        }

        .t-table {
            border-top: 1px solid #F9DFE7;
            padding-top: 15px;
            padding-bottom: 15px;

            .t-img {
                width: 100%;
                height: 120px;
                object-fit: cover;
                margin-bottom: 4px;

                @include br-up(md) {
                    width: 280px;
                    height: 180px;
                    margin-bottom: 0px;
                }

                @include br-up(lg) {
                    width: 120px;
                    height: 80px;
                }

                border-radius: 6px;
            }

            .t-title {
                font-size: 16px;
                line-height: 32px;
                color: #151413;
                margin-bottom: 0px;

                @include br-up(md) {
                    font-size: 18px;
                }

                @include br-up(lg) {
                    font-size: 20px;
                }
            }

            .t-price {
                font-weight: 600;
                font-size: 12px;
                line-height: 20px;
                color: #411D71;
                margin-bottom: 0px;

                @include br-up(md) {
                    font-size: 14px;
                    line-height: 32px;
                }

                @include br-up(lg) {
                    font-size: 16px;
                }
            }

        }


    }

    &.register {
        background: radial-gradient(50% 50% at 50% 50%, #2D1252 0%, #3D1E67 100%);
        padding-top: 64px;
        padding-bottom: 44px;
        position: relative;

        @include br-up(md) {
            padding-top: 80px;
            padding-bottom: 64px;
        }

        @include br-up(lg) {
            padding-top: 124px;
            padding-bottom: 102px;
        }

        .bg-img {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: right;
            }
        }

        .sub-title {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            margin-bottom: 16px;

            @include br-up(md) {
                font-size: 18px;
                line-height: 28px;
                margin-bottom: 18px;
            }

            @include br-up(lg) {
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 22px;
            }
        }

        .title {
            font-weight: 700;
            font-size: 20px;
            line-height: 12px;
            color: #FFFFFF;

            @include br-up(md) {
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 16px;
            }

            @include br-up(lg) {
                font-size: 30px;
                line-height: 38px;
            }
        }

        .paragraph {
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #8896AB;
            margin-bottom: 18px;

            @include br-up(md) {
                font-size: 16px;
                line-height: 28px;
                margin-bottom: 26px;
            }
        }

        form {
            max-width: 530px;

            .form-label {
                font-family: 'Epilogue', sans-serif;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: #FFFFFF;
                margin-bottom: 6px;

                @include br-up(md) {
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            .form-control {
                padding: 12px 14px;
                background: #FFFFFF;
                border: 1px solid #D5DAE1;
                box-sizing: border-box;
                box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
                border-radius: 4px;
                color: #2A3342;
                font-size: 14px;
                line-height: 20px;

                @include br-up(md) {
                    font-size: 16px;
                    line-height: 24px;
                }
            }



            .form-check {
                margin-right: 20px;

                @include br-up(md) {
                    margin-right: 80px;
                }

                .form-check-input {
                    width: 16px;
                    height: 16px;
                    margin-top: 0px;
                }

                .form-check-label {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 12px;
                    color: #FFFFFF;
                    margin-top: 0px;
                }
            }

            .forget-pass {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                color: #FFFFFF;
            }

            .btn-signup {
                margin-top: 40px;
                background: #D33A6D;
                box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
                border-radius: 6px;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #F0FDF4;
                padding: 12px 24px;

                @include br-up(md) {
                    margin-top: 54px;
                }
            }

            .have-account {
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                text-align: center;
                color: #FFFFFF;
                margin-top: 18px;
                margin-bottom: 30px;

                .btn-signin {
                    text-decoration: none;
                    color: #D33A6D;
                }
            }

        }

        .register-using {
            max-width: 530px;

            .r-using {
                font-weight: 600;
                font-size: 16px;
                line-height: 32px;
                color: #FFFFFF;
                margin-bottom: 8px;
            }

            .btn-r-using {
                padding: 2px;
                border: 1px solid #FFFFFF;
                box-sizing: border-box;
                border-radius: 4px;
                text-align: left;
                width: 236px;

                @include br-up(sm) {
                    width: 100%;
                }

                .btn-icon {
                    width: 43px;
                    height: 43px;
                }

                .btn-text {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.5px;
                    color: #FFFFFF;
                    margin-left: 20px;
                }
            }
        }


    }

}